{
  "openapi": "3.1.0",
  "info": {
    "title": "Firedrill Control API",
    "version": "1.0.0",
    "description": "The control plane for drills, drill runs, and the worlds they run in. Errors always carry the canonical envelope; unsafe operations require an Idempotency-Key; long work returns an operation resource."
  },
  "servers": [
    {
      "url": "https://api.firedrill.run"
    }
  ],
  "paths": {
    "/v1/auth/bootstrap": {
      "post": {
        "operationId": "auth.bootstrap",
        "summary": "Exchange verified browser identity for a revocable Firedrill session",
        "security": [
          {
            "workosAccessToken": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControlSessionExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent control session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlSessionIssue"
                }
              }
            }
          },
          "201": {
            "description": "New control session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlSessionIssue"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/auth/cli/exchange": {
      "post": {
        "operationId": "auth.cliExchange",
        "summary": "Exchange verified device identity for a revocable Firedrill CLI session",
        "security": [
          {
            "workosAccessToken": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControlSessionExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent control session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlSessionIssue"
                }
              }
            }
          },
          "201": {
            "description": "New control session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlSessionIssue"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/organization/invitations": {
      "get": {
        "operationId": "organization.listInvitations",
        "summary": "List organization invitations without exposing provider credentials",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pending",
                "accepted",
                "expired",
                "revoked"
              ],
              "default": "pending"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization invitation page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInvitationPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      },
      "post": {
        "operationId": "organization.createInvitation",
        "summary": "Invite one organization member through the configured identity provider",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent organization invitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInvitation"
                }
              }
            }
          },
          "201": {
            "description": "Organization invitation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInvitation"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/projects": {
      "get": {
        "operationId": "projects.list",
        "summary": "List projects available to the current principal",
        "responses": {
          "200": {
            "description": "Available projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      },
      "post": {
        "operationId": "projects.create",
        "summary": "Create a project and grant its creator manager access",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      }
    },
    "/v1/projects/{projectId}/build-attempts": {
      "get": {
        "operationId": "buildAttempts.list",
        "summary": "List CLI and source-draft build attempts with a stable cursor",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build-attempt page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildAttemptPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "builds"
        ]
      }
    },
    "/v1/projects/{projectId}/environments": {
      "get": {
        "operationId": "environments.list",
        "summary": "List project environments",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project environments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      },
      "post": {
        "operationId": "environments.create",
        "summary": "Create an environment optionally pinned to an immutable build",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "201": {
            "description": "Environment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/environments/{environmentId}/promote": {
      "post": {
        "operationId": "environments.promote",
        "summary": "Point future sessions in an environment at an immutable build",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^env_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoteEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions": {
      "get": {
        "operationId": "sessions.list",
        "summary": "List hosted world sessions in a project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/environments/{environmentId}/sessions": {
      "post": {
        "operationId": "sessions.create",
        "summary": "Create a hosted world session for an explicit drill and seed",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^env_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent session operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Session creation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}": {
      "get": {
        "operationId": "sessions.get",
        "summary": "Read a hosted world session",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hosted world session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      },
      "delete": {
        "operationId": "sessions.destroy",
        "summary": "Destroy a hosted world session with exact confirmation",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestroySessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent destroy operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Session destruction accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/runtime": {
      "get": {
        "operationId": "sessions.runtime",
        "summary": "Read the atomic runtime position of a ready session",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session runtime position",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionRuntimeView"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/state-namespaces": {
      "get": {
        "operationId": "sessions.stateNamespaces",
        "summary": "List state namespaces in a ready session",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session state namespaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldStateNamespacePage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/state": {
      "get": {
        "operationId": "sessions.state",
        "summary": "Read a bounded page of namespaced world state",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 96
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 96
            }
          },
          {
            "name": "afterRowId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "World state page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldStatePage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/evidence": {
      "get": {
        "operationId": "sessions.evidence",
        "summary": "Read a bounded page from the ordered world evidence journal",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "fromSequence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "World evidence page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldEvidencePage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/pending": {
      "get": {
        "operationId": "sessions.pending",
        "summary": "Read scheduled events, callbacks, and active faults from a ready session",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending world work",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldPendingWork"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/operations/{operationId}": {
      "get": {
        "operationId": "operations.get",
        "summary": "Read a project-scoped asynchronous operation",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^op_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asynchronous operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperation"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/snapshots": {
      "post": {
        "operationId": "sessions.snapshot",
        "summary": "Snapshot the atomic state, evidence, and pending work of a session",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapshotSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent snapshot operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotSessionOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Snapshot accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotSessionOperationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/reset": {
      "post": {
        "operationId": "sessions.reset",
        "summary": "Reset all or selected Tool state in a hosted world session",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent reset operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Reset accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/forks": {
      "post": {
        "operationId": "sessions.fork",
        "summary": "Fork a hosted world session from an immutable snapshot",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent fork operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Fork accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionOperationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/sessions/{sessionId}/access": {
      "post": {
        "operationId": "sessions.issueAccess",
        "summary": "Issue an actor-scoped access bundle for the customer-owned agent runner",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ses_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueWorldAccessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent access bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedAccessBundle"
                }
              }
            }
          },
          "201": {
            "description": "Actor-scoped access bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedAccessBundle"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "worlds"
        ]
      }
    },
    "/v1/projects/{projectId}/builds": {
      "get": {
        "operationId": "builds.list",
        "summary": "List immutable builds in a project with a stable cursor",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project builds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedBuildPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "builds"
        ]
      }
    },
    "/v1/projects/{projectId}/builds/{buildHash}": {
      "get": {
        "operationId": "builds.get",
        "summary": "Get safe metadata for one immutable build",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "buildHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^sha256:[0-9a-f]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Immutable build",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedBuild"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "builds"
        ]
      }
    },
    "/v1/projects/{projectId}/builds/{buildHash}/world": {
      "get": {
        "operationId": "builds.getWorld",
        "summary": "Get the verified compiled World for one immutable build",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "buildHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^sha256:[0-9a-f]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compiled World",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompiledWorld"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "builds"
        ]
      }
    },
    "/v1/projects/{projectId}/access": {
      "get": {
        "operationId": "projects.listAccess",
        "summary": "List active organization members and their access to one project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "access",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "granted",
                "not_granted"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project access page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectAccessMemberPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      }
    },
    "/v1/projects/{projectId}/grants": {
      "post": {
        "operationId": "projects.putGrant",
        "summary": "Grant or change one active organization member's project role",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutProjectGrantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated project grant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectGrant"
                }
              }
            }
          },
          "201": {
            "description": "Created project grant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectGrant"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      },
      "get": {
        "operationId": "projects.listGrants",
        "summary": "List explicit project grants",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project grants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectGrantPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      }
    },
    "/v1/projects/{projectId}/grants/{userId}": {
      "delete": {
        "operationId": "projects.removeGrant",
        "summary": "Remove one organization member's access to a project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^usr_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveProjectGrantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed project grant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectGrantRemoval"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      }
    },
    "/v1/credentials": {
      "get": {
        "operationId": "credentials.list",
        "summary": "List user-managed control credentials",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "developer",
                "service"
              ],
              "default": "all"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "expired",
                "revoked"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      },
      "post": {
        "operationId": "credentials.create",
        "summary": "Create a developer or service credential with one-time secret reveal",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotently replayed credential issue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialIssue"
                }
              }
            }
          },
          "201": {
            "description": "Created credential and one-time secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialIssue"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/credentials/{credentialId}": {
      "delete": {
        "operationId": "credentials.revoke",
        "summary": "Revoke one developer or service credential",
        "parameters": [
          {
            "name": "credentialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^cred_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialRevocation"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/projects/{projectId}": {
      "get": {
        "operationId": "projects.get",
        "summary": "Get one project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      },
      "patch": {
        "operationId": "projects.update",
        "summary": "Rename one project with optimistic concurrency",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "projects"
        ]
      }
    },
    "/v1/auth/session/revoke": {
      "post": {
        "operationId": "auth.revokeSession",
        "summary": "Revoke the current browser or CLI session",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControlSessionExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked control session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialRevocation"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/organization/audit-events": {
      "get": {
        "operationId": "organization.listAuditEvents",
        "summary": "List the append-only organization audit history",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization audit history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/projects/{projectId}/tools": {
      "get": {
        "operationId": "tools.listPrivateArtifacts",
        "summary": "List exact private Tool artifacts introduced by project builds",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "candidate",
                "approved",
                "deprecated",
                "revoked"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private Tool artifact page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateToolArtifactPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "tools"
        ]
      }
    },
    "/v1/projects/{projectId}/tools/{toolArtifactId}": {
      "get": {
        "operationId": "tools.getPrivateArtifact",
        "summary": "Get one exact private Tool artifact",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "toolArtifactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^toolart_[0-9a-z]{12,32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private Tool artifact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateToolArtifact"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "tools"
        ]
      }
    },
    "/v1/projects/{projectId}/tools/{toolArtifactId}/approve": {
      "post": {
        "operationId": "tools.approvePrivateArtifact",
        "summary": "Approve one exact private Tool artifact for execution",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "toolArtifactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^toolart_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveToolArtifactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved private Tool artifact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateToolArtifact"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "tools"
        ]
      }
    },
    "/v1/projects/{projectId}/tools/{toolArtifactId}/deprecate": {
      "post": {
        "operationId": "tools.deprecatePrivateArtifact",
        "summary": "Deprecate one approved private Tool artifact",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "toolArtifactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^toolart_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeprecateToolArtifactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deprecated private Tool artifact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateToolArtifact"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "tools"
        ]
      }
    },
    "/v1/projects/{projectId}/tools/{toolArtifactId}/revoke": {
      "post": {
        "operationId": "tools.revokePrivateArtifact",
        "summary": "Revoke one exact private Tool artifact and propagate the block",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "toolArtifactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^toolart_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeToolArtifactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing idempotent Tool revocation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateToolArtifactRevocationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Tool revocation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateToolArtifactRevocationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "tools"
        ]
      }
    },
    "/v1/organization/members": {
      "get": {
        "operationId": "organization.listMembers",
        "summary": "List organization members and their project access count",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "suspended"
              ],
              "default": "active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization member page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMemberPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/organization/invitations/{invitationId}/revoke": {
      "post": {
        "operationId": "organization.revokeInvitation",
        "summary": "Revoke one pending organization invitation with exact confirmation",
        "parameters": [
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^oinv_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeOrganizationInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked organization invitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInvitation"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/organization/evidence-retention": {
      "get": {
        "operationId": "organization.getEvidenceRetention",
        "summary": "Read the organization policy used for new hosted drill evidence",
        "responses": {
          "200": {
            "description": "Organization evidence retention policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationEvidenceRetentionPolicy"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      },
      "patch": {
        "operationId": "organization.updateEvidenceRetention",
        "summary": "Change evidence retention for future hosted drill runs",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationEvidenceRetentionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated evidence retention policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationEvidenceRetentionPolicy"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "profile.get",
        "summary": "Read the current Firedrill account profile",
        "responses": {
          "200": {
            "description": "Current account profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentUser"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/me/sessions": {
      "get": {
        "operationId": "profile.listAccessSessions",
        "summary": "List the current person's browser and CLI access sessions",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "browser",
                "device"
              ],
              "default": "all"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "ended"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access-session page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccessSessionPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/me/sessions/{credentialId}/revoke": {
      "post": {
        "operationId": "profile.revokeAccessSession",
        "summary": "Sign out one remote browser or CLI access session",
        "parameters": [
          {
            "name": "credentialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^cred_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeUserAccessSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked access session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialRevocation"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/evidence-verification-keys/{keyId}": {
      "get": {
        "operationId": "evidenceVerificationKeys.get",
        "summary": "Read a public evidence-attestation verification key",
        "security": [],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,254}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence verification key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceVerificationKey"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/v1/organization/usage": {
      "get": {
        "operationId": "usage.getOrganization",
        "summary": "Read factual hosted usage for an optional closed time window",
        "parameters": [
          {
            "name": "fromAtMs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "toAtMs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedUsageOverview"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/organization/billing": {
      "get": {
        "operationId": "billing.getOrganization",
        "summary": "Read the organization's billing account, subscription, and available catalog",
        "responses": {
          "200": {
            "description": "Organization billing overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingOverview"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/organization/billing/checkout": {
      "post": {
        "operationId": "billing.createCheckout",
        "summary": "Create a provider-hosted billing checkout redirect",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing checkout redirect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRedirect"
                }
              }
            }
          },
          "201": {
            "description": "Checkout redirect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRedirect"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/organization/billing/portal": {
      "post": {
        "operationId": "billing.createPortal",
        "summary": "Create a provider-hosted billing portal redirect",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingPortalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing billing portal redirect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRedirect"
                }
              }
            }
          },
          "201": {
            "description": "Billing portal redirect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingRedirect"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/organization/evidence-exports": {
      "get": {
        "operationId": "evidenceExports.listOrganization",
        "summary": "List organization evidence exports",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence export page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceExportPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      },
      "post": {
        "operationId": "evidenceExports.createOrganization",
        "summary": "Create a bounded organization evidence export",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvidenceExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing evidence export operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceExportOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Evidence export accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceExportOperationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/v1/projects/{projectId}/evidence-exports": {
      "get": {
        "operationId": "evidenceExports.listProject",
        "summary": "List project evidence exports",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence export page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceExportPage"
                }
              }
            }
          },
          "default": {
            "description": "Canonical error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "tags": [
          "runs"
        ]
      },
      "post": {
        "operationId": "evidenceExports.createProject",
        "summary": "Create a bounded project evidence export",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prj_[0-9a-z]{12,32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvidenceExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing evidence export operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceExportOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Evidence export accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceExportOperationResponse"
[...]
